.sidebar {
  .ant-menu-item-selected {
    background: #c73148 !important;
    color: white !important;
    .button-selected {
      color: white !important;
    }
  }
  // .ant-menu-submenu-title {
  //   background: #d4dbf0 !important;
  //   color: black !important;
  // }

  // .ant-menu {
  //   background: #ffffff !important;
  //   color: black !important;
  // }

  .ant-layout-sider-trigger {
    background: #1d1111 !important;
    color: #ed2a46 !important;
  }
}
